RewriteEngine On

Redirect permanent "/sitemapindex.xml" "/sitemap.xml"
Redirect permanent "/sitemap.xml/sitemap.xml" "/sitemap.xml"
RedirectMatch permanent "^/files/(.*)" "/$1"
Redirect permanent "/rss.xml" "/index.xml"
Redirect permanent "/rss" "/index.xml"
Redirect permanent "/atom" "/index.xml"
RedirectMatch permanent "^/feed/?" "/index.xml"
RedirectMatch permanent "^/tag/(.*?)/feed/?" "/tag/$1/index.xml"
RedirectMatch permanent "^/tags/(.*)" "/tag/$1"

RewriteCond %{QUERY_STRING} tag=qualityassurance
RewriteRule ^ /tag/quality-assurance [R=301,QSD,L]

Redirect permanent "/tag/qualityassurance" "/tag/quality-assurance"

RewriteCond %{QUERY_STRING} tag=personaldevelopment
RewriteRule ^ /tag/personal-development [R=301,QSD,L]

Redirect permanent "/tag/personaldevelopment" "/tag/personal-development"

RewriteCond %{QUERY_STRING} tag=userexperience
RewriteRule ^ /tag/user-experience [R=301,QSD,L]

RewriteCond %{QUERY_STRING} tag=(.*) [NC]
RewriteRule ^ /tag/%1 [R=301,QSD,L]

Redirect permanent "/tag/userexperience" "/tag/user-experience"

RewriteCond %{QUERY_STRING} page=(\d+)
RewriteRule ^ /page/%1 [R=301,QSD,L]

ErrorDocument 404 /404.html

<IfModule mod_headers.c>
    Header set X-Frame-Options DENY
    Header set Strict-Transport-Security max-age=2592000

    <FilesMatch "\.(jpg|jpeg|png|svg|ico)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>

# Enable GZIP compression for all text files
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/ld+json \
                                      application/manifest+json \
                                      application/rdf+xml \
                                      application/rss+xml \
                                      application/schema+json \
                                      application/vnd.geo+json \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-javascript \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/eot \
                                      font/opentype \
                                      image/bmp \
                                      image/svg+xml \
                                      image/vnd.microsoft.icon \
                                      image/x-icon \
                                      text/cache-manifest \
                                      text/css \
                                      text/html \
                                      text/javascript \
                                      text/plain \
                                      text/vcard \
                                      text/vnd.rim.location.xloc \
                                      text/vtt \
                                      text/x-component \
                                      text/x-cross-domain-policy \
                                      text/xml
    </IfModule>
</IfModule>
